 body {
    display: flex;
    flex-direction: column;
    background-color: greenyellow;
     }
 main{
    display: flex;
    flex-direction: row;
    flex: auto;
 }
 article{
    flex: 2;
    overflow-y: auto;
 }
 aside{
    flex:1;
    overflow-y: auto;
 }
 img{
   width: 300;
   height:auto
    }
    .down{
      margin-top: 50px;
    }
